.font-extra-small {
  font-size: 12px;
}
.font-small {
  font-size: 13px;
}
.font-base-small {
  font-size: 13.5px;
}
.font-base {
  font-size: 14px;
}
.font-medium {
  font-size: 16px;
}
.font-large {
  font-size: 18px;
}
.font-extra-large {
  font-size: 20px;
}
